USE [Test]
GO
/****** Object:  Table [dbo].[STI]    Script Date: 11.01.2018 12:32:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STI](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IslemTur] [smallint] NOT NULL,
	[EvrakNo] [varchar](16) NOT NULL,
	[Tarih] [int] NOT NULL,
	[MalKodu] [varchar](30) NOT NULL,
	[Miktar] [numeric](25, 6) NOT NULL,
	[Fiyat] [numeric](25, 6) NOT NULL,
	[Tutar] [numeric](25, 6) NOT NULL,
	[Birim] [varchar](4) NOT NULL,
 CONSTRAINT [pkSTI] PRIMARY KEY CLUSTERED 
(
	[EvrakNo] ASC,
	[Tarih] ASC,
	[IslemTur] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STK]    Script Date: 11.01.2018 12:32:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STK](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MalKodu] [varchar](30) NOT NULL,
	[MalAdi] [varchar](50) NOT NULL,
 CONSTRAINT [pkSTK] PRIMARY KEY CLUSTERED 
(
	[MalKodu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[STI] ON 

INSERT [dbo].[STI] ([ID], [IslemTur], [EvrakNo], [Tarih], [MalKodu], [Miktar], [Fiyat], [Tutar], [Birim]) VALUES (608, 0, N'   24111', 42698, N'10086 SİEMENS', CAST(240.000000 AS Numeric(25, 6)), CAST(0.000000 AS Numeric(25, 6)), CAST(0.000000 AS Numeric(25, 6)), N'ADET')
INSERT [dbo].[STI] ([ID], [IslemTur], [EvrakNo], [Tarih], [MalKodu], [Miktar], [Fiyat], [Tutar], [Birim]) VALUES (609, 1, N'   24111', 42698, N'10086 SİEMENS', CAST(240.000000 AS Numeric(25, 6)), CAST(0.000000 AS Numeric(25, 6)), CAST(0.000000 AS Numeric(25, 6)), N'ADET')
INSERT [dbo].[STI] ([ID], [IslemTur], [EvrakNo], [Tarih], [MalKodu], [Miktar], [Fiyat], [Tutar], [Birim]) VALUES (170, 0, N'  000029', 42782, N'10081 SİEMENS', CAST(1.000000 AS Numeric(25, 6)), CAST(14.400000 AS Numeric(25, 6)), CAST(14.400000 AS Numeric(25, 6)), N'ADET')
GO
SET IDENTITY_INSERT [dbo].[STI] OFF
SET IDENTITY_INSERT [dbo].[STK] ON 

INSERT [dbo].[STK] ([ID], [MalKodu], [MalAdi]) VALUES (6, N'10081 SİEMENS', N'NB MONOFAZE OTOMATLAR')
INSERT [dbo].[STK] ([ID], [MalKodu], [MalAdi]) VALUES (7, N'10082 SİEMENS', N'5SQ2160-2YA10 B 10A  OTOMATİK SİGORTA')
INSERT [dbo].[STK] ([ID], [MalKodu], [MalAdi]) VALUES (8, N'10083 SİEMENS', N'5SQ2160-2YA16 B 16A  OTOMATİK SİGORTA')
SET IDENTITY_INSERT [dbo].[STK] OFF
